@font-face {
  font-family: "Subjectivity";
  font-weight: 100;
  src: url("../../public/fonts/Subjectivity-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 100;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-ThinSlanted.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 300;
  src: url("../../public/fonts/Subjectivity-Light.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 300;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-LightSlanted.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 400;
  src: url("../../public/fonts/Subjectivity-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 400;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-RegularSlanted.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 500;
  src: url("../../public/fonts/Subjectivity-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 500;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-MediumSlanted.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 700;
  src: url("../../public/fonts/Subjectivity-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 700;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-BoldSlanted.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 800;
  src: url("../../public/fonts/Subjectivity-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 800;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-ExtraBoldSlanted.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 850;
  src: url("../../public/fonts/Subjectivity-Super.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 850;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-SuperSlanted.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 900;
  src: url("../../public/fonts/Subjectivity-Black.otf") format("opentype");
}

@font-face {
  font-family: "Subjectivity";
  font-weight: 900;
  font-style: italic;
  src: url("../../public/fonts/Subjectivity-BlackSlanted.otf") format("opentype");
}