.category-section{
    padding-top: 160px!important;
    padding: 2.5rem;
    background: #fffaed;
    position: relative;
    overflow: hidden; 
}

.text-container{
  position: relative;
  z-index: 5;
}

.category-buttons {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap; 
  }

.butterfly-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  padding: 1rem; 
  transform: translate(63%, 10%); 
  z-index: 1;
}

.person-container {
  position: absolute;
  top: 0; 
  left: 0;
  width: 400px; 
  height: auto;
  padding: 1rem;
  transform: translate(-20%, 15%); 
  z-index: 1;
}

.butterfly-image,
.person-image {
  max-width: 50%; 
  height: auto; 
  z-index: 1;
}